.btn {
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    padding: 5px 16px;
    background-color: #f6f8fa;
    font-weight: 500;
    cursor: pointer;
}

.btn-search-left {
    padding: 5px 8px 5px 31px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 328px;
    height: 32px;
    text-align: left;
}

.btn-search-right {
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 6px 6px;
    width: 32px;
    height: 32px;
}

.btn-s-left,
.btn-s-right{
    padding: 3px 12px;
    color: 24292f;
    font-size: 12px;
}

.btn-s-left {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.btn-s-right {
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.btn-menu {
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    background-color: #f6f8fa;
    font-weight: 500;
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.btn-plus {
    width: 54px;
    padding: 0px 8px;
}

.btn-success {
    background-color: #1f883d;
    color: white;
    margin-left: 16px;
}

.btn-success * {
    color: white;
}


.text-input {
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    outline: none;
    padding: 5px 12px;
}

.text-input:focus {
    outline: 2px solid #0969da;
}

.wf {
    width: 100%;
}
