.app-header {
    border-bottom: 1.5px solid #dbdbdb;
    height: 104px;
    background-color: rgb(246, 248, 250);
}

.app-header-items {
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 8px;
}

.icon-github {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    width: 32px;
    height: 32px;
}

.header-username {
    padding: 6px 8px;
    text-decoration: none;
    font-weight: 500;
}

.header-username:hover {
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: #eee;
}

.app-header-right {
    display: flex;
    justify-content: flex-end;
    width: 605px;
}

.search-buttons {
    position: relative;
    display: flex;
}

.search-buttons * {
    display: inline-block;
    color: #6e7781;
}

.icon-search {
    position: absolute;
    top: 8px;
    left: 8px;
}

.app-header-menu {
    display: block;
    padding: 0px 16px;
    height: 48px;
}

.menu-list {
    display: flex;

}